body{
font-size:16px;
color:#000;
font-family: 'Concert One', cursive;
margin:20px;
}

#header_nav {
	background-color:#A0A0A0; 
}
#header_nav h1{
	
	color:#000;
	margin-top:0;
	margin-bottom:0;
	font-weight:bold;
	font-size:1.5em;
	
}
.panelall{
background-color:grey;
}
.btnnav{
width:100%;
}
#nav-list {
  margin-top: 0px;
  background-color:#fff;
  width:100%;
  
}
#navlist a{
      text-align: center;
	  font-size: 1.8em;
}
#navlist a:hover{
 background: #E7E7E7;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
.panelheadall{
font-size:1.3em;
}
.panelall{
  position: relative;
  overflow: hidden;
}


